
<p>Accepte ou dégage</p>

<form action="/oauth/authorize" method="post">
  <input id="client_id" type="text" name="client_id" value="123" hidden title="client_id">
  <input id="redirect_uri" type="text" name="redirect_uri" value="http://localhost:3000/oauth/callback" title="redirect_uri" hidden/>
  <input type="text" value="yes" hidden name="allow" title="allow">
  <input type="text" value="code" name="response_type" hidden>
  <br>
  <button type="submit">OK</button>
  <a href="/" type="button">No</a>
</form>

<script>
  function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, "\\$&");
    var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)", "i"),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, " "));
  }

  var client_id = getParameterByName('client_id', window.location);
  var redirect_uri = getParameterByName('redirect_uri', window.location);

  console.log('client_id', client_id);
  console.log('redirect_uri', redirect_uri);

  document.getElementById('client_id').value = client_id;
  document.getElementById('redirect_uri').value = redirect_uri;

</script>
