<h1>{{title }}</h1>
{{!--<p>Welcome to {{title }}</p>--}}
<p>{{> welcome}}</p>

<a href="/secret">go to secret area</a>
<br>
<a href="/oauth/authorize?client_id=123&redirect_uri=https://lvlive-prp.louisvuitton.com/api/auth/login/callback">log in</a>
